---
---

@charset "utf-8";

$spacing-unit:     30px;
$spacer-tool:	   10px;
$image-size:       50px;
$icon-size:        15px;
$white:		   	   #ffffff;
$lg-blue:		   #328BB4;


$on-palm:          768px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


@import
    "styles",
    "highlight"
;
