---
---

@charset "utf-8";

$spacing-unit:     30px;
$spacer-tool:	   10px;
$image-size:       50px;
$icon-size:        15px;
$white:		   	   #ffffff;
$lg-green:		   #697754;
$black:		  	   #000000;


$on-palm:          768px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
        text-align: left;
    }
}


@import
    "styles",
    "highlight"
;
