---
layout: default
permalink: apps
---

<h1>on App Store</h1>
<section class="apps">
	<div class="grid t-hackcss-cards">
		<ul>
			{% for app in site.onappstore %}
				<li>
					<span>
						<a href="{{ app.url }}" target="_blank">
							{{ app.name }}
						</a>
						: {{ app.description }}
						| <a href="{{ app.privacy_policy }}" target="_blank">Privacy Policy</a>
						| <a href="{{ app.support_url }}" target="_blank">Support URL</a>
					</span>
				</li>
			{% endfor %}
			
		</ul>
	</div>
</section>

<h1>recent projects</h1>
<br>
<div>goal was to use native frameworks to build modular apps</div>

<section class="apps">
	<div class="grid t-hackcss-cards">
		<ul>
			{% for app in site.recent %}
				<li>
					<span>
						<a href="{{ app.url }}" target="_blank">
							{{ app.name }}
						</a>
						: {{ app.description }}
					</span>
				</li>
			{% endfor %}
			
		</ul>
	</div>
</section>
