---
layout: default
permalink: projects
---

<section>
	<p>
		stuff on hold or completed
	</p>
</section>
<section>
	<div class="grid t-hackcss-cards">

		{% for project in site.projects %}

		<div class="cell -3of12 t-hackcss-cards-cell">
			<div class="card">
				<header class="card-header t-hackcss-card-header">
					<a href="{{ project.link }}" title="{{ project.name }}" target="_blank">
						{{ project.name }}
					</a>
				</header>
				<div class="card-content">
					<div class="inner">

						{% if project.image %}
						<img src="{{ project.image }}" class="t-hackcss-cards-image"
								 alt="{{ project.name }}"
								 title="{{ project.name }}" />
						{% endif %}

						<p class="t-hackcss-cards-text">{{ project.description }}</p>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
