---
layout: default
permalink: webapps
---

<section class="webapps">
 <div class="grid t-hackcss-cards">
		{% for webapp in site.webapps %}
			<div class="cell -3of12 t-hackcss-cards-cell">
				<div class="card">
					<header class="card-header"> <a href="{{ webapp.url }}" title="{{ webapp.name }}" target="_blank">
									 {{ webapp.name }}
								 </a></header>
					<div class="card-content">
						<div class="inner">

							{% if webapp.image %}
							<img src="{{ webapp.image }}" class="t-hackcss-cards-image"
									 alt="{{ webapp.name }}"
									 title="{{ webapp.name }}" / id="webappIcon">
							{% endif %}
							<br>
							<p class="t-hackcss-cards-text">{{ webapp.description }}</p>
							<br>
							<p class="t-hackcss-cards-link">
								{{ webapp.details }}
							</p>

						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section>