<footer class="t-hackcss-footer">
  	<hr/>
	<div class="grid t-hackcss-sm-reversed-grid">
		<div class="cell -12of12">
			<span class="t-hackcss-social">
			    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
			</span>
		    {% for social in site.social %}
		      {% assign template = social.service|prepend:"icon-"|append:".html" %}
			<span class="t-hackcss-social">
				<i class="t-hackcss-icon">{% include {{ template }} %}</i>
				<a href="{{ social.link }}" target="_blank">{{ social.username }}</a>
			</span>
		    {% endfor %}
		</div>
	</div>
</footer>
