@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.t-hackcss { 
	&-navigation {
		padding: 60px 0px 60px 5px;
	}
	
	&-menu {
		text-align: left;
		text-decoration: none !important;
		a {	
			color: $lg-blue;
			text-decoration: none;
			border-bottom: none;
		}
		a:hover {
			color: $lg-blue;
			background-color: transparent;;
		}
	}

	&-menu-item {
		padding-right: 5%;
	}
	
	&-post-title {
		font-size: 14pt;
	}

	&-post-content {
		font-size: 9pt;
		font-weight: light;
	}

	&-media-heading
	{
		font-size: 8pt;
	}

	@at-root .hack &-navigation-heading {
		padding-top: 20px;
	}

	@at-root body &-footer {
		padding-bottom: $spacing-unit;
		color: transparent !important;
	}
	
	&-footer {
		font-size: 8pt;
		a {	
			color: $lg-blue;
			border-bottom: none;
		}
		a:hover {
			background-color: transparent;
		}
	}
	
	&-social {
		display: inline-block;
	}

	&-social + &-social {
		padding-left: $spacer-tool;
	}

	&-sm-reversed-grid.grid {
		@include media-query($on-palm) {
			flex-direction: column-reverse;
		}
	}

	&-icon {
		display: inline-block;
		vertical-align: middle;
		width: $icon-size;
		height: $icon-size;

		> svg {
			width: $icon-size;
		}
	}


	&-media {
		margin-bottom: 1.25rem;
	}

	&-media-shift {
		max-width: $image-size;
	}

	&-media-image {
		display: block;
		max-width: 100%;
		height: auto;
	}
	
	&-cards {
		flex-wrap: wrap;

		@include media-query($on-palm) {
			flex-wrap: nowrap;
		}
	}

	&-cards-cell {
		padding-bottom: $spacing-unit;
		padding-right: $spacing-unit;
		a {
			color: #328BB4;
			border-bottom: 0px;
		}
		a:hover {
			background-color: transparent;
			color: #328BB4;
		}
	}

	&-cards-text {
		a {
			color: $white;
			border-bottom: 0px;
		}
		a:hover {
			background-color: transparent;
			color: #328BB4;
		}
		margin: 0;
		font-weight: 100;
		text-align: center;
		font-weight: bolder;
	}

	&-cards-image {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}

	&-card-header {
		text-align: left;
		a {
			color: $white;
			border-bottom: 0px;
		}
		a:hover {
			background-color: transparent;
		}
	}
}



// add-ons

p, li {
	font-weight: lighter;
}

.social {
	text-align: center;
}

#inode, #kernel, #mdd {
	width: 120px;
	height: auto;
	display: block;
	margin: auto;
	background-color: $white;
	padding: 20px;
}

#lemma, #cyberia, #steam {
	width: 160px;
	height: auto;
	display: block;
	margin: auto;
	background-color: $white;
	padding: 10px;
}

#face {
	width: 300px;
	height: auto;
}

.card .card-header {
	background-color: #000000 !important;
}

#appIcon {
	width: 200px;
	height: auto;
}