<!DOCTYPE html>
<html>
	{% include head.html %}
	{% if site.theme_mode == 'markdown' %}
	<body class="hack">
	{% elsif site.theme_mode == 'dark' %}
	<body class="standard">
	{% elsif site.theme_mode == 'standard' %}
	<body class="hack dark">
	{% endif %}
		<div class="container">
			<div class="grid">
				<aside class="cell -12of12" role="navigation">
					{% include ios_navigation.html %}
				</aside>
			</div>
			<div class="grid">
				<main class="cell -12of12">
					{{ content }}
				</main>
			</div>
		</div>
	</body>
</html>

